.detail {
  font-size : 20px;
  font-weight: 800;
  color: #e2381a;
}
.app {
  text-align : center;

}
button {
  font-size: 20px;
}
input {
  width: 80px;
  height: 20px;

}
html {
  background-color: rgb(43, 225, 231);
  //background: var(--main-decor-color);
}